:root {
    --link-colour: #326297;
    --btn-hover-colour: #153d73;
    --header-band-colour: #222222;
}

#header-band {
    background-color: var(--header-band-colour);
}

a {
    color: var(--link-colour);
}

table.props tr > td:first-child {
    color: var(--link-colour);
}

.collapse-button {
    border: 1px solid var(--link-colour);
    color: var(--link-colour);
}

.collapse-button:hover {
    background-color: var(--link-colour);
}

#top-nav {
    border-top: 2px solid var(--link-colour);
    border-bottom: 2px solid var(--link-colour);
}

.top-nav-item.active {
    color: var(--link-colour);
}

.top-nav-item:hover,
.top-nav-item.active:hover {
    background-color: var(--link-colour);
}

.tooltip .tooltiptext {
    background-color: var(--link-colour);
}

.btn {
    background-color: var(--link-colour); 
}

.btn:hover {
    background-color: var(--btn-hover-colour); 
}

.pagination-btn {
    border: 1px solid var(--link-colour);
    color: var(--link-colour);
}

.pagination-btn:hover {
    background-color: var(--link-colour); 
}

.pagination-btn.current-page,
.pagination-btn.current-page:hover {
    background-color: var(--btn-hover-colour); 
}

#header-content {
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto;
    display: flex;
}