:root {
    --blue: #006983;
    --darkblue: #104f5f;
    --darkgrey: #2F2F2F;
    --orange: #A33F1F;
    --lightgrey: #eeeeee;
    --lightlightgrey: #f6f6f6;

    --page-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

#main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
}

header > hr {
    border: none;
    border-bottom: 1px solid lightgrey;
    margin: 0;
}

#header-top {
    width: 100%;
    max-width: var(--page-max-width);
    /* flex-grow: 1; */
    margin: 0 auto;
    display: flex;
}

#header-top-content {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 12px;
    align-items: center;
    padding: 6px;
}

#header-top-content > a {
    color: black;
    text-decoration: none;
    font-size: 11px;
}

#header-socials {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 8px;
}

.header-social-link {
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    width: 24px;
    height: 24px;
}

.header-social-link > i {
    margin: auto;
}

#header-bottom {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    max-width: var(--page-max-width);
    /* flex-grow: 1; */
    margin: 20px auto;
}

#header-bottom > img {
    width: 140px;
}

#header-bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

#header-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#header-nav > a {
    color: black;
    text-decoration: none;
}

#header-band {
    height: 40px;
    background-color: var(--blue);
    flex-shrink: 0;
}

#gap-container {
    max-width: var(--page-max-width);
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#top-nav {
    margin-top: 12px;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    color: var(--blue);
}

.top-nav-item {
    padding: 8px 12px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s ease, color 0.2s ease;
    /* even width children */
    flex-basis: 0;
    flex-grow: 1;
}

.top-nav-item:hover, .top-nav-item.active:hover  {
    background-color: var(--blue);
    color: white;
}

.top-nav-item.active {
    font-weight: bold;
    color: var(--blue);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    margin: 16px 0px;
}

h2 {
    margin: 14px 0px;
}

h3 {
    margin: 12px 0px;
}

h4 {
    margin: 10px 0px;
    font-size: 18px;
}

#contents {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 16px;
    padding: 12px;
}

#maincontent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#altprofiles {
    width: 250px;
    margin-top: 54px;
    flex-shrink: 0;
}

footer {
    background-color: var(--darkgrey);
    color: white;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 16px 0;
}

.footer-content-col {
    /* even width children */
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-content-col > h5 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.footer-content-col > a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

a.footer-social-link {
    background-color: white;
    color: var(--darkgrey);
    text-decoration: none;
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    width: 30px;
    height: 30px;
}

a.footer-social-link > i {
    margin: auto;
}

footer address {
    font-size: 12px;
    font-style: normal;
    line-height: 1.6;
}

.contact-us-btn {
    display: flex;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    padding: 20px 24px;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.2s ease;
}

.contact-us-btn:hover {
    background-color: var(--orange);
}

footer > hr {
    border-top: 1px solid white;
    margin: 20px 0;
}

#footer-bottom {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 16px;
    width: 100%;
    max-width: var(--page-max-width);
    margin: 0 auto 20px auto;
    padding: 16px 0;
}

#footer-bottom-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#footer-bottom-links > a {
    color: white;
    text-decoration: none;
}

.tooltip {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.tooltip:hover {
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    /* border: solid 1px black; */
    background-color: var(--blue);
    color: white;
    font-weight: normal;
    position: absolute;
    z-index: 500;
    cursor: unset;
    /* margin-left: 8px; */
    font-size: 0.9rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext a {
    color: white;
}

.tooltip > i {
    font-size: 14px;
}

ul {
    margin: 0;
    line-height: 1.4;
}

dl > dt, dl > dd {
    padding: 6px;
}

dl > dt {
    font-weight: bold;
}

table.layout {
    border-collapse: collapse;
}

table.layout th {
    font-weight: bold;
}

table.layout th, table.layout td {
    padding: 8px;
}

table.props {
    border-collapse: collapse;
    margin-bottom: 10px;
    word-break: break-word;
}

table.props:not(.bnode-props) {
    margin-top: 10px;
}

table.props td {
    padding: 10px;
}

table.props:not(.bnode-props) > tbody > tr:nth-child(odd),
table.layout > tbody > tr:nth-child(even) {
    background-color: var(--lightgrey);
}

table.props table.bnode-props:nth-child(even) {
    background-color: var(--lightlightgrey);
}

table.props tr > td:first-child {
    font-weight: bold;
    color: var(--blue);
    min-width: 120px;
}

table.bnode-props {
    font-size: 14px;   
}

td > table.bnode-props:last-child {
    margin-bottom: 0;
}

.features-list, .collections-list {
    margin-bottom: 12px;
}

/* pagination */
.pagination {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagination-btn {
    background-color: white;
    color: var(--blue);
    cursor: pointer;
    border-radius: 0;
    border: 1px solid var(--blue);
    font-size: 14px;
    padding: 6px 10px;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.pagination-btn > i {
    font-size: 12px;
}

.pagination-btn:disabled, .pagination-btn:disabled:hover {
    cursor: unset;
    background-color: lightgrey;
    color: white;
}

.pagination-btn.current-page, .pagination-btn.current-page:hover {
    background-color: var(--darkblue);
    color: white;
}

.pagination-btn:hover {
    background-color: var(--blue);
    color: white;
}

.pagination > .pagination-btn:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination > .pagination-btn:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination > .pagination-btn:not(:last-child) {
    border-right: none;
}

/* map */
#map {
    height: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.type-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    font-size: small;
    gap: 8px;
}

.type {
    display: flex;
    flex-direction: column;
}

.feature-uri {
    font-size: 18px;
}

/* sparql ui */
.grip-container {
    width: 100% !important;
}

table.dataTable tbody > tr:nth-child(odd) {
    background-color: var(--lightgrey);
}

table.dataTable a, table.dataTable a:hover {
    color: var(--blue);
}

.dataTables_wrapper .dataTables_paginate a.paginate_button,
.dataTables_wrapper .dataTables_paginate span.ellipsis {
    background-color: white !important;
    color: var(--blue) !important;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid var(--blue) !important;
    font-size: 14px;
    padding: 6px 10px;
    margin: 0 !important;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.previous {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.next {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate span > a.paginate_button,
.dataTables_wrapper .dataTables_paginate span > span.ellipsis {
    border-left: none !important;
}

.dataTables_wrapper .dataTables_paginate span > a.paginate_button:last-child {
    border-right: none !important;
}

.dataTables_wrapper .dataTables_paginate span.ellipsis {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 7px;
    content: "\f141";
    cursor: unset;
}

#contents .dataTables_wrapper .dataTables_paginate a.paginate_button:hover:not(.disabled) {
    color: white !important;
    background-color: var(--blue) !important;
}

#contents .dataTables_wrapper .dataTables_paginate a.paginate_button.disabled {
    background-color: lightgrey !important;
    color: white !important;
}

#contents .dataTables_wrapper .dataTables_paginate a.paginate_button.current,
#contents .dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
    background-color: var(--darkblue) !important;
    color: white !important;
    cursor: unset;
    text-decoration: none !important;
}