{% extends "page.html" %}
{% set active_page = "collections" %}
{% block content %}
    <div id="maincontent">
      <h1>Collections</h1>
        <div class="data-container">
          <ul>
            {%- for collection in collections -%}
            <li><a href="{{ collection[0] }}">{{ collection[1] }}</a></li>
            {%- endfor -%}
            </ul>
        </div>
        <div id="pagination">
          {% if pageNumber > 1 %}
          <button class="pagination-btn" onclick="location.href='{{ page_links.first_page }}'"><i class="far fa-chevron-double-left"></i></button>
          <button class="pagination-btn" onclick="location.href='{{ page_links.prev_page }}'">{{ pageNumber - 1 }}</button>
          {% endif %}
          <button class="pagination-btn current-page" disabled>{{ pageNumber }}</button>
          {% if pageNumber < page_links.last_page.split("&page=")[1]|int %}
          <button class="pagination-btn" onclick="location.href='{{ page_links.next_page }}'">{{ pageNumber + 1 }}</button>
          <button class="pagination-btn" onclick="location.href='{{ page_links.last_page }}'"><i class="far fa-chevron-double-right"></i></button>
          {% endif %}
      </div>
    </div>
    {% include 'page_altprofiles.html' %}
{% endblock %}