{% extends "page.html" %}
{% block content %}
    <div>
        <h1>Features in {{ collection.title }}</h1>
    </div>

    <div id="maincontent">
        <h2>Items</h2>
        {% if bbox %}
            <h4>Filtered by {{ bbox[0] }}: <code>{{ bbox[1] }}</code></h4>
        {% endif %}
        <div class="data-container"></div>
        <div id="pagination-features"></div>
        <div style="grid-column: 1; grid-row: 3;">
            <h3>Members</h3>
                <ul>
                {%- for member in members -%}
                <li><a href="{{ member[0] }}">{{ member[1] }}</a></li>
                {%- endfor -%}
                </ul>
        </div>
        <div>
            {{ page_links }}
        </div>
        <div></div>
    </div>

    {% include 'page_altprofiles.html' %}
{% endblock %}