{% extends "page.html" %}
{% set active_page = "collections" %}
{% block content %}
<div id="maincontent">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <h1>{{ feature.title }}</h1>
  {% if feature.description is not none %}
    <div>{{ feature.description|safe }}</div>
  {% endif %}
  {% if feature.geometries is not none %}
    <div id="map"></div>
    <!-- map -->
    <table class="lined">
    {% for property in feature.properties %}
      <tr>
        <td>
          {% if "predLabel" in property.keys() %}
            <span class="tooltip">{{ property.predLabel }}
              <span class="tooltiptext">
                <a href="{{ property.pred }}">{{ property.predPrefixed }}</a>
              </span>
            </span>
          {% else %}
            {{ property.pred }}
          {% endif %}
        </td>
        <td>
          {% if "objLabel" in property.keys() %}
            <span class="tooltip">{{ property.objLabel }}
              <span class="tooltiptext">
                <a href="{{ property.obj }}">{{ property.objPrefixed }}</a>
              </span>
            </span>
          {% else %}
            {{ property.obj }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}

    {% for geom_type, geometry in feature.geometries.items() %}
      <tr>
        <td>{{ geometry.label }}</td><td><code>
        {% if geometry.coordinates.split()|length > 6 %}
          {{ ' '.join(geometry.coordinates.split()[:6]+[' ... ']+geometry.coordinates.split()[-6:]) }}
        {% else %}{{ geometry.coordinates }}
        {% endif %}</code></td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
  <script>
    const data = '{{ feature.geometries["GeoJSON"].coordinates | tojson }}';
    const map = L.map('map');

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      accessToken: 'pk.eyJ1IjoiamFtaWVmZWlzcyIsImEiOiJja3Exb3U5anAwZ3lrMnBrMXFlMXUxazZ2In0.2rBPhgnwrWJKNl2GsXV5HQ',
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1
    }).addTo(map);

    const geojsonLayer = L.geoJson(JSON.parse(data.slice(1, data.length - 1))).addTo(map);
    map.fitBounds(geojsonLayer.getBounds());
  </script>
</div>
{% include 'page_altprofiles.html' %}
{% endblock %}