{% extends "page.html" %}
{% set active_page = "collections" %}
{% block content %}
<div id="maincontent">
  {% if feature.geometries.asGeoJSON is not none %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  {% endif %}
  <h1>{{ feature.title }}</h1>
  {% for property in type %}
    <div class="type-container">
      <div>
        {% if property.label is not none %}
            <span class="tooltip">{{ property.label | title }}
              <span class="tooltiptext">
                <a href="{{ property.uri }}">
                  {% if property.prefix is not none %}
                    {{ property.prefix }}
                  {% else %}
                    {{ property.uri }}
                  {% endif %}
                </a>
              </span>
            </span>
          {% else %}
            {{ property.uri }}
          {% endif %}
      </div>
      <div class="type">
        {% for object in property.objects %}
          {% if object.label is not none %}
            <span class="tooltip">{{ object.label }}
              <span class="tooltiptext">
                <a href="{{ object.value }}">
                  {% if object.prefix is not none %}
                    {{ object.prefix }}
                  {% else %}
                    {{ object.value }}
                  {% endif %}
                </a>
              </span>
            </span>
          {% else %}
            <span>{{ object.value }}</span>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  <div><a href="" class="feature-uri">{{ feature.uri }}</a> 
    <span class="tooltip"><i class="far fa-external-link"></i>
      <span class="tooltiptext">
        <a href="{{ feature.uri }}">{{ feature.uri }}</a>
      </span>
    </span>
  </div>
  {% if feature.description is not none %}
    <div>{{ feature.description|safe }}</div>
  {% endif %}
  {% if feature.geometries.asGeoJSON is not none %}
    <div id="map"></div>
  {% endif %}
  <table class="props">
    {% for property in feature_properties %}
      <tr>
        <td>
          {% if property.label is not none %}
            {# iterate over each word in label, apply title() only for lowercase words #}
            {# preserves acronyms like DGGS and GeoJSON #}
            {% set property_label = [] %}
            {% for s in property.label.split() %}
              {{ property_label.append(s.title()) | default("", True) if s.islower() else property_label.append(s) | default("", True) }}
            {% endfor %}
            <span class="tooltip">{{ " ".join(property_label) }}
              <span class="tooltiptext">
                <a href="{{ property.uri }}">
                  {% if property.prefix is not none %}
                    {{ property.prefix }}
                  {% else %}
                    {{ property.uri }}
                  {% endif %}
                </a>
              </span>
            </span>
          {% else %}
            {{ property.uri }}
          {% endif %}
        </td>
        <td>
          {% if property.objects is not none %}
            {% for object in property.objects %}
              {% if object.label is not none %}
                <span class="tooltip">
                  {% if object.system_url is not none %}
                    <a href="{{ object.system_url }}">{{ object.label }}</a>
                  {% else %}
                    {{ object.label }}
                  {% endif %}
                  <span class="tooltiptext">
                    <a href="{{ object.value }}">
                      {% if object.prefix is not none %}
                        {{ object.prefix }}
                      {% else %}
                        {{ object.value }}
                      {% endif %}
                    </a>
                  </span>
                </span>
              {% else %}
                {% if object.system_url is not none %}
                  <a href="{{ object.system_url }}">{{ object.value }}</a>
                {% else %}
                  {% if object.value.startswith("http") %}
                    <a href="{{ object.value }}">{{ object.value }}</a>
                  {% else %}
                    {{ object.value }}
                  {% endif %}
                {% endif %}
              {% endif %}
              <br/>
            {% endfor %}
          {% elif property.bnodes is not none %}
            {% for bnode in property.bnodes.values() %}
              <table class="props bnode-props">
                {% for object in bnode %}
                  <tr>
                    <td>
                      {% if object.pLabel is not none %}
                        {# iterate over each word in label, apply title() only for lowercase words #}
                        {# preserves acronyms like DGGS and GeoJSON #}
                        {% set property_label = [] %}
                        {% for s in object.pLabel.split() %}
                          {{ property_label.append(s.title()) | default("", True) if s.islower() else property_label.append(s) | default("", True) }}
                        {% endfor %}
                        <span class="tooltip">{{ " ".join(property_label) }}
                          <span class="tooltiptext">
                            <a href="{{ object.pUri }}">
                              {% if object.pPrefix is not none %}
                                {{ object.pPrefix }}
                              {% else %}
                                {{ object.pUri }}
                              {% endif %}
                            </a>
                          </span>
                        </span>
                      {% else %}
                        {{ object.pUri }}
                      {% endif %}
                    </td>
                    <td>
                      {% if object.oLabel is not none %}
                        <span class="tooltip">{{ object.oLabel }}
                          <span class="tooltiptext">
                            <a href="{{ oValue }}">
                              {% if object.oPrefix is not none %}
                                {{ object.oPrefix }}
                              {% else %}
                                {{ object.oValue }}
                              {% endif %}
                            </a>
                          </span>
                        </span>
                      {% else %}
                        {% if object.oValue.startswith("http") %}
                          <a href="{{ object.oValue }}">{{ object.oValue }}</a>
                        {% else %}
                          {{ object.oValue }}
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            {% endfor %}
          {% else %} {# geometry #}
            <code>
              {% if property.geometry.split()|length > 6 %}
                {{ ' '.join(property.geometry.split()[:6]+[' ... ']+property.geometry.split()[-6:]) }}
              {% else %}
                {{ property.geometry }}
              {% endif %}
            </code>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if feature.geometries.asGeoJSON is not none %}
    <script>
      const data = '{{ feature.geometries.asGeoJSON.coordinates | tojson }}';
      const map = L.map('map');

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        accessToken: 'pk.eyJ1IjoiamFtaWVmZWlzcyIsImEiOiJja3Exb3U5anAwZ3lrMnBrMXFlMXUxazZ2In0.2rBPhgnwrWJKNl2GsXV5HQ',
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
      }).addTo(map);

      const geojsonLayer = L.geoJson(JSON.parse(data.slice(1, data.length - 1))).addTo(map);
      map.fitBounds(geojsonLayer.getBounds());
    </script>
  {% endif %}
</div>
{% include 'page_altprofiles.html' %}
{% endblock %}