{% extends "page.html" %}
{% set active_page = "collections" %}
{% block content %}
<div id="maincontent">
  <h1>{{ feature.title }}</h1>
  {% if feature.description is not none %}
    <div>{{ feature.description|safe }}</div>
  {% endif %}
    <!-- map -->
    <table class="lined">
    {% for property in feature.properties %}
      <tr>
        <td>
          {% if "predLabel" in property.keys() %}
            <span class="tooltip">{{ property.predLabel }}
              <span class="tooltiptext">
                <a href="{{ property.pred }}">{{ property.predPrefixed }}</a>
              </span>
            </span>
          {% else %}
            {{ property.pred }}
          {% endif %}
        </td>
        <td>
          {% if "objLabel" in property.keys() %}
            <span class="tooltip">{{ property.objLabel }}
              <span class="tooltiptext">
                <a href="{{ property.obj }}">{{ property.objPrefixed }}</a>
              </span>
            </span>
          {% else %}
            {{ property.obj }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    {% for property in feature.bnode_properties %}
      <tr>
        <table class="lined">
          <tr>
            <td>
              {% if "p1Label" in property.keys() %}
                <span class="tooltip">{{ property.p1Label }}
                  <span class="tooltiptext">
                    <a href="{{ property.p1 }}">{{ property.p1Prefixed }}</a>
                  </span>
                </span>
              {% else %}
                {{ property.p1 }}
              {% endif %}
            </td>
            <td>
              {% if "p2Label" in property.keys() %}
                <span class="tooltip">{{ property.p2Label }}
                  <span class="tooltiptext">
                    <a href="{{ property.p2 }}">{{ property.p2Prefixed }}</a>
                  </span>
                </span>
              {% else %}
                {{ property.p2 }}
              {% endif %}
            </td>
            <td>
              {% if "o2Label" in property.keys() %}
                <span class="tooltip">{{ property.o2Label }}
                  <span class="tooltiptext">
                    <a href="{{ property.o2 }}">{{ property.o2Prefixed }}</a>
                  </span>
                </span>
              {% else %}
                {{ property.o2 }}
              {% endif %}
            </td>
          </tr>
        </table>
      </tr>
    {% endfor %}
  {% if feature.geometries is not none %}
    {% for geometry in feature.geometries %}
      <tr>
        <td>{{ geometry.label }}</td><td><code>
        {% if geometry.coordinates.split()|length > 6 %}
          {{ ' '.join(geometry.coordinates.split()[:6]+[' ... ']+geometry.coordinates.split()[-6:]) }}
        {% else %}{{ geometry.coordinates }}
        {% endif %}</code></td>
<!--          <td>{{ geometry.label }}</td><td><code>{{ ' '.join(geometry.coordinates.split()[:6]+[' ... ']+geometry.coordinates.split()[-6:]) }}</code></td>-->
      </tr>
    {% endfor %}
    </table>
  {% endif %}
</div>
{% include 'page_altprofiles.html' %}
{% endblock %}