{% extends "page.html" %}
{% set active_page = "home" %}
{% block content %}
<div id="maincontent">
  {% if geometry is not none %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  {% endif %}
  {% if landing_page.title is not none %}
  <h1>{{ landing_page.title }}</h1>
  {% else %}
  <h1>OGC API Landing Page</h1>
  {% endif %}
  {% for property in type %}
    <div class="type-container">
      <div>
        {% if property.label is not none %}
            <span class="tooltip">{{ property.label | title }}
              <span class="tooltiptext">
                <a href="{{ property.uri }}">
                  {% if property.prefix is not none %}
                    {{ property.prefix }}
                  {% else %}
                    {{ property.uri }}
                  {% endif %}
                </a>
              </span>
            </span>
          {% else %}
            {{ property.uri }}
          {% endif %}
      </div>
      <div class="type">
        {% for object in property.objects %}
          {% if object.label is not none %}
            <span class="tooltip">{{ object.label }}
              <span class="tooltiptext">
                <a href="{{ object.value }}">
                  {% if object.prefix is not none %}
                    {{ object.prefix }}
                  {% else %}
                    {{ object.value }}
                  {% endif %}
                </a>
              </span>
            </span>
          {% else %}
            <span>{{ object.value }}</span>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  {% if landing_page.description is not none %}
    <div style="margin-top: 12px;">{{ landing_page.description|safe }}</div>
  {% endif %}
  {% if geometry is not none %}
    <div id="map"></div>
  {% endif %}
  <table class="props">
    {% for property in properties %}
      <tr>
        <td>
          {% if property.label is not none %}
            {# iterate over each word in label, apply title() only for lowercase words #}
            {# preserves acronyms like DGGS and GeoJSON #}
            {% set property_label = [] %}
            {% for s in property.label.split() %}
              {{ property_label.append(s.title()) | default("", True) if s.islower() else property_label.append(s) | default("", True) }}
            {% endfor %}
            <span class="tooltip">{{ " ".join(property_label) }}
              <span class="tooltiptext">
                <a href="{{ property.uri }}">
                  {% if property.prefix is not none %}
                    {{ property.prefix }}
                  {% else %}
                    {{ property.uri }}
                  {% endif %}
                </a>
              </span>
            </span>
          {% else %}
            {{ property.uri }}
          {% endif %}
        </td>
        <td>
          {% if property.objects is not none %}
            {% for object in property.objects %}
              {% if object.label is not none %}
                <span class="tooltip">
                  {% if object.system_url is not none %}
                    <a href="{{ object.system_url }}">{{ object.label }}</a>
                  {% else %}
                    {{ object.label }}
                  {% endif %}
                  <span class="tooltiptext">
                    <a href="{{ object.value }}">
                      {% if object.prefix is not none %}
                        {{ object.prefix }}
                      {% else %}
                        {{ object.value }}
                      {% endif %}
                    </a>
                  </span>
                </span>
              {% else %}
                {% if object.system_url is not none %}
                  <a href="{{ object.system_url }}">{{ object.value }}</a>
                {% else %}
                  {% if object.value.startswith("http") %}
                    <a href="{{ object.value }}">{{ object.value }}</a>
                  {% elif object.value.startswith("{") or object.value.startswith("POLYGON") %}
                    <code>{{ object.value }}</code>
                  {% else %}
                    {{ object.value }}
                  {% endif %}
                {% endif %}
              {% endif %}
              <br/>
            {% endfor %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <h2>Links</h2>
  <ul>
    {% for link in landing_page.links %}
    <li>
        <a href="{{ link['href'] }}">{% if link["title"] is not none %}{{ link["title"] }}{% else %}{{ link["href"] }}{% endif %}</a>
        {% if link["rel"] is not none or link["rel"] is not none or link["type"] is not none or link["hreflang"] is not none or link["length"] is not none %}
          <ul>
            {% if link["rel"] is not none %}<li>rel: {{ link["rel"].value }}</li>{% endif %}
            {% if link["type"] is not none %}<li>type: {{ link["type"].value }}</li>{% endif %}
            {% if link["hreflang"] is not none %}<li>hreflang: {{ link["hreflang"].value }}</li>{% endif %}
            {% if link["length"] is not none %}<li>length: {{ link["length"].value }}</li>{% endif %}
        {% endif %}
        </ul>
    </li>
    {% endfor %}
  </ul>
  {% if geometry is not none %}
    <script>
      const data = '{{ geometry | tojson }}';
      const map = L.map('map');

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        accessToken: 'pk.eyJ1IjoiamFtaWVmZWlzcyIsImEiOiJja3Exb3U5anAwZ3lrMnBrMXFlMXUxazZ2In0.2rBPhgnwrWJKNl2GsXV5HQ',
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
      }).addTo(map);

      const geojsonLayer = L.geoJson(JSON.parse(data.slice(1, data.length - 1))).addTo(map);
      map.fitBounds(geojsonLayer.getBounds());
    </script>
  {% endif %}
</div>
{% include 'page_altprofiles.html' %}
{% endblock %}