<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', path='img/favicon.ico') }}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="{{ url_for('static', path='pagination.js') }}"></script>
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', path='css/pagination.css') }}" rel="stylesheet" type="text/css">
    <title>{% if api_title|length > 0 %}{{ api_title }}{% else %}{{ API_TITLE }}{% endif %}</title>
</head>

<body>
    {% set active_page = active_page -%}
    <div id="main-container">
        <header>
            <div>
                <h1>{% if api_title|length > 0 %}{{ api_title }}{% else %}{{ API_TITLE }}{% endif %}</h1>
            </div>
        </header>
        <div id="header-bottom"></div>
        <div id="gap-container">
            <nav id="top-nav">
                <a class="top-nav-item{% if active_page == 'home' %} active{% endif %}" href="/">Landing Page</a>
                <a class="top-nav-item{% if active_page == 'collections' %} active{% endif %}" href="/collections">Collections</a>
                <a class="top-nav-item" href="/spec">API Description</a>
                <a class="top-nav-item" href="/docs">API Docs</a>
                <a class="top-nav-item{% if active_page == 'conformance' %} active{% endif %}" href="/conformance">Conformance</a>
            </nav>
            <div id="contents">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer>
            <div id="footer-content">
                <div>
                    <p>
                        This API is created using <a href="https://github.com/rdflib/pyLDAPI">pyLDAPI</a>, a Linked
                        Data API tool written in Python.
                    </p>
                </div>
                <div>
                    <p>This API is maintained by:</p>
                    <p>
                        <a href="https://surroundaustralia.com">
                            <img src="{{ url_for('static', path='img/surround-logo-catprez.png') }}"
                                alt="CatPrez Logo" />
                            SURROUND<br />
                            Australia
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>