<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', path='img/favicon.ico') }}">
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet" type="text/css">
    {% if stylesheet is not none %}
        <link href="{{ url_for('static', path='css/stylesheet.css') }}" rel="stylesheet" type="text/css">
    {% endif %}
    <script src="https://kit.fontawesome.com/c112c4b9c0.js" crossorigin="anonymous"></script>
    <title>{% if api_title|length > 0 %}{{ api_title }}{% else %}{{ API_TITLE }}{% endif %}</title>
</head>

<body>
    {% set active_page = active_page -%}
    <div id="main-container">
        {% if header is not none %}
            {% include "header.html" %}
        {% else %}
            <header>OGC API header</header>
        {% endif %}
        <div id="header-band"></div>
        <div id="gap-container">
            <nav id="top-nav">
                <a class="top-nav-item{% if active_page == 'home' %} active{% endif %}" href="/">Landing Page</a>
                <a class="top-nav-item{% if active_page == 'collections' %} active{% endif %}" href="/collections">Collections</a>
                <a class="top-nav-item" href="/spec">API Description</a>
                <a class="top-nav-item" href="/docs">API Docs</a>
                <a class="top-nav-item{% if active_page == 'conformance' %} active{% endif %}" href="/conformance">Conformance</a>
                <a class="top-nav-item{% if active_page == 'sparql' %} active{% endif %}" href="/sparql">SPARQL</a>
            </nav>
            <div id="contents">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% if footer is not none %}
            {% include "footer.html" %}
        {% else %}
            <footer>OGC API footer</footer>
        {% endif %}
    </div>
</body>

</html>