{% extends "page.html" %}
{% set active_page = "sparql" %}
{% block content %}
  <div id="maincontent">
    <h1>SPARQL</h1>
    <p>
        This page allows you to lodge <a href="https://en.wikipedia.org/wiki/SPARQL">SPARQL</a> queries against the
        <a href="https://en.wikipedia.org/wiki/Triplestore">triplestore</a> (graph database) that stores all of this
        systems' vocabularies.
    </p>
    <p>Use the interactive Query UI below to lodge queries interactively or send queries directly to the system using the instructions below that.</p>
    <div>
      <div style="width: 100%">
        <h2>Interactive UI</h2>
        <p>Enter SPARQL queries in the text box below to lodge them interactively:</p>
        <div id="yasgui" style="margin-bottom: 25px;"></div>
      </div>
      <div>
        <h3>Example Queries</h3>
          <h4>Count of Features</h4>
        <p>This example counts the number of Features (geo:Feature) in a Dataset</p>
        <p><pre>
PREFIX geo: &lt;http://www.opengis.net/ont/geosparql#&gt;

SELECT (COUNT(?features) AS ?features_count) { ?features a geo:Feature }
        </pre></p>
        <h4>Feature within a Feature Collection and Dataset</h4>
        <p>
          Here is an example query that selects the name of five Features, their parent Feature Collections, and the Feature Collections' parent Dataset.
            Features in Datasets which conform to the OGC LD API specification must be part of (dcterms:isPartOf) a
            Feature Collection (geo:FeatureCollection), which in turn must be part of a Dataset (dcat:Dataset).
        </p>
        <p><pre>
PREFIX dcterms: &lt;http://purl.org/dc/terms/&gt;
PREFIX geo: &lt;http://www.opengis.net/ont/geosparql#&gt;
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;

SELECT ?feature_label ?fc_label ?dataset_label {
  ?feature a geo:Feature ;
  		   rdfs:label ?feature_label ;
       	   dcterms:isPartOf ?featureCollection .
  ?featureCollection rdfs:label ?fc_label ;
           dcterms:isPartOf ?dataset .
  ?dataset rdfs:label ?dataset_label
  }
LIMIT 5
        </pre></p>
        <h4>Feature Description</h4>
        <p>
          This query describes the properties of a Feature:
        </p>
        <p><pre>
PREFIX geo: &lt;http://www.opengis.net/ont/geosparql#&gt;

DESCRIBE ?feature { ?feature a geo:Feature } LIMIT 1
        </pre></p>
      </div>
      <div>
        <h3>Direct Queries</h3>
        <p>
          If you would like to lodge queries directly against this SPARQL endpoint without using the Query UI
          above, first create the query, URL-encode it, and lodge it like this:
        </p>
        <p><pre>{{ url_for('sparql') }}?query={YOUR_QUERY_URL_ENCODED}</pre></p>
        <p>You can use the query encoder below to URL-encode your query.</p>
        <h4>Machine-readable responses</h4>
        <p>If you lodge your query as above with a web browser, the system will place it in the interactive UI text area (above) and you will see the result below that.</p>
        <p>To obtain a machine-readable response to your query, you must supply an HTTP Accept header for the type of response you would like, in accordance with the <a href="https://www.w3.org/TR/sparql11-protocol/">SPARQL Protocol standard</a>.</p>
        <p>For example, to get a SPARQL JSON format response for <code>{YOUR_QUERY_URL_ENCODED}</code>, use the <a href="https://curl.haxx.se/">curl</a> program like this:</p>
        <p><pre>curl {{ url_for('sparql') }}?query={YOUR_QUERY_URL_ENCODED}<br />-H 'Accept: application/sparql-results+json'</pre></p>
        <p><strong>SPARQL response Accept Headers</strong></p>
        <p>The following Media Types are to be used for machine-readable responses:</p>
        <ul>
          <li>SPARQL response formats:
            <ul>
              <li><code>application/sparql-results+json</code></li>
              <li><code>text/csv</code></li>
              <li><code>text/tab-separated-values</code></li>
            </ul>
          </li>
          <li>RDF response formats:
            <ul>
              <li><code>text/turtle</code></li>
              <li><code>application/rdf+xml</code></li>
              <li><code>application/ld+json</code></li>
              <li><code>text/n3</code></li>
              <li><code>application/n-triples</code></li>
            </ul>
        </ul>
        <p>If you omit one of the above headers, your query will be placed into this page and the result displayed interactively.</p>
        <p>If the header you've included doesn't match the format of the SPARQL response type, you will receive that response type's default format, e.g. <code>text/turtle</code> for <code>CONSTRUCT</code> queries, <code>application/sparql-results+json</code> for <code>SELECT</code> queries.</p>
        <p><strong>GET &amp; POST queries</strong></p>
        <p>You can lodge both <code>GET</code> and <code>POST</code> queries against this system, as per the <a href="https://www.w3.org/TR/sparql11-protocol/">SPARQL Protocol standard</a>.</p>
        <h4>Query Encoder</h4>
        <p>
          Enter your SPARQL query into this text box and click "URL Encode" to URL encode it. That will
          generate a single encoded string with spaces replaced by "%20" and other character replacements
          which you can then use in place of <code>{YOUR_QUERY_URL_ENCODED}</code> above.
        </p>
        <p>
            You might like to test out your query first using the Query UI above too.
        </p>
        <textarea id="encoding_query" style="width:100%; min-height:100px;"></textarea>
        <button id="url_encode">URL Encode</button><button id="url_decode">URL Decode</button>
      </div>
    </div>
  </div>
  <link href='https://unpkg.com/@triply/yasgui/build/yasgui.min.css' rel='stylesheet' type='text/css'/>
  <script src='https://unpkg.com/@triply/yasgui/build/yasgui.min.js'></script>
  <script type="text/javascript">
      const yasgui = new Yasgui(document.getElementById("yasgui"), {
        requestConfig: { endpoint: "{{ url_for('sparql') }}" },
        copyEndpointOnNewTab: false
      });

      document.getElementById("url_encode").addEventListener("click", function() {
        document.getElementById("encoding_query").value = encodeURIComponent(document.getElementById("encoding_query").value);
      });

      document.getElementById("url_decode").addEventListener("click", function() {
        document.getElementById("encoding_query").value = decodeURIComponent(document.getElementById("encoding_query").value);
      });
  </script>
  {% include 'page_altprofiles.html' %}
{% endblock %}